// colors
// Basic colors
$color-black: #000
$color-blue: #005c70
$color-grey: darken(#afafaf, 15%)
$color-red: #c00909
$color-red-dark: darken($color-red, 10%)
$color-red-light: lighten($color-red, 50%)
$color-white: #fff

$color-bcg: #f6f6f6
$color-bcg-menu: #2f2f2f
$color-border: lighten(#afafaf, 20%)
$color-border-editor: #bbb
$color-cancel: #afafaf
$color-category: #0197f6
$color-category-hover: darken($color-category, 5%)
$color-disabled: $color-cancel
$color-important: $color-blue
$color-label: lighten($color-bcg-menu, 20%)
$color-link: darken($color-category, 10%)
$color-link-hover: darken($color-link, 10%)
$color-remove: #d25357
$color-success: #66ba8d
$color-success-darken: darken($color-success, 10%)
$color-tabs-bgc-active: darken($color-bcg, 5%)
$color-tabs-bgc-disabled: $color-white
$color-tabs-border-active: rgba($color-label, .3)
$color-tabs-border-disabled: $color-success
$color-tabs-text-active: lighten($color-label, 20%)
$color-tabs-text-disabled: $color-label
$color-tag: #507e8d
$color-tag-hover: darken($color-tag, 5%)
$color-border-text-editor: #bbb
$color-text-grey-medium: #8b8b8b
$color-warning: #fa9002

// // classes for colors used in svg
// .stroke-color
// 	stroke: lighten($color-grey, 42%)
//
// .stroke-color-oposite
// 	stroke: $color-violet-icon
//
// .fill-color
// 	fill: $color-violet-icon
//
// .fill-color-oposite
// 	fill: lighten($color-grey-text, 42%)
