// colors
// Basic colors
$color-black: #000
$color-blue: #005c70
$color-grey: darken(#afafaf, 15%)
$color-red: #c00909
$color-red-dark: darken($color-red, 10%)
$color-red-light: lighten($color-red, 50%)
$color-white: #fff
$color-violet: #352576

$color-bcg: #F2F2F2
$color-border: lighten(#afafaf, 20%)
$color-cancel: #afafaf
$color-disabled: $color-cancel
$color-remove: #d25357
$color-success: #66ba8d
