// fonts
$font-sans: 'Montserrat', sans-serif
$font-serif: serif
$font-icon: FontAwesome

//  Font sizes

$font-size-header-main: calc(6vw + 22px)
$font-size-header: calc(.8vw + 15px)
$font-size-small: calc(.3vw + 12px)
$font-size-text: calc(.3vw + 16px)

$line-height-header: 1.4em
$line-height-text: 2em
