<svg viewBox="0 0 549 305" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <defs>
        <path d="M95.0273409,34.6090806 L135.183288,113.538075 C135.183288,113.538075 177.435269,91.6851397 210.251467,137.668196 C210.251467,137.668196 267.924054,64.5188235 267.924054,64.5188235 C196.03017,-18.6102704 95.0273409,34.6090806 95.0273409,34.6090806 Z" id="path-1"></path>
        <filter x="-4.3%" y="-6.3%" width="108.7%" height="112.5%" filterUnits="objectBoundingBox" id="filter-2">
            <feOffset dx="-11" dy="1" in="SourceAlpha" result="shadowOffsetInner1"></feOffset>
            <feComposite in="shadowOffsetInner1" in2="SourceAlpha" operator="arithmetic" k2="-1" k3="1" result="shadowInnerInner1"></feComposite>
            <feColorMatrix values="0 0 0 0 1   0 0 0 0 1   0 0 0 0 1  0 0 0 0.2 0" type="matrix" in="shadowInnerInner1" result="shadowMatrixInner1"></feColorMatrix>
            <feOffset dx="15" dy="-7" in="SourceAlpha" result="shadowOffsetInner2"></feOffset>
            <feComposite in="shadowOffsetInner2" in2="SourceAlpha" operator="arithmetic" k2="-1" k3="1" result="shadowInnerInner2"></feComposite>
            <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.101137908 0" type="matrix" in="shadowInnerInner2" result="shadowMatrixInner2"></feColorMatrix>
            <feMerge>
                <feMergeNode in="shadowMatrixInner1"></feMergeNode>
                <feMergeNode in="shadowMatrixInner2"></feMergeNode>
            </feMerge>
        </filter>
        <path d="M18.6181388,69.9448984 L83.4781559,155.285858 C83.4781559,155.285858 102.285469,129.955338 129.890848,133.946007 C129.890848,133.946007 162.170932,37.0429569 159.084481,35.5375944 C73.3699773,6.63634567 18.6181388,69.9448984 18.6181388,69.9448984 Z" id="path-3"></path>
        <filter x="-5.7%" y="-6.3%" width="111.4%" height="112.6%" filterUnits="objectBoundingBox" id="filter-4">
            <feOffset dx="16" dy="3" in="SourceAlpha" result="shadowOffsetInner1"></feOffset>
            <feComposite in="shadowOffsetInner1" in2="SourceAlpha" operator="arithmetic" k2="-1" k3="1" result="shadowInnerInner1"></feComposite>
            <feColorMatrix values="0 0 0 0 1   0 0 0 0 1   0 0 0 0 1  0 0 0 0.2 0" type="matrix" in="shadowInnerInner1" result="shadowMatrixInner1"></feColorMatrix>
            <feOffset dx="-7" dy="-8" in="SourceAlpha" result="shadowOffsetInner2"></feOffset>
            <feComposite in="shadowOffsetInner2" in2="SourceAlpha" operator="arithmetic" k2="-1" k3="1" result="shadowInnerInner2"></feComposite>
            <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.0971750453 0" type="matrix" in="shadowInnerInner2" result="shadowMatrixInner2"></feColorMatrix>
            <feMerge>
                <feMergeNode in="shadowMatrixInner1"></feMergeNode>
                <feMergeNode in="shadowMatrixInner2"></feMergeNode>
            </feMerge>
        </filter>
        <path d="M-0.176459532,160.768994 L41.1017066,229.552039 C41.1017066,229.552039 74.697525,210.939832 108.734397,243.438321 C108.734397,243.438321 158.130656,170.946854 158.130656,170.946854 C83.8445649,107.552011 -0.176459532,160.768994 -0.176459532,160.768994 Z" id="path-5"></path>
        <filter x="-12.6%" y="-19.3%" width="125.3%" height="138.6%" filterUnits="objectBoundingBox" id="filter-6">
            <feOffset dx="-18" dy="0" in="SourceAlpha" result="shadowOffsetInner1"></feOffset>
            <feComposite in="shadowOffsetInner1" in2="SourceAlpha" operator="arithmetic" k2="-1" k3="1" result="shadowInnerInner1"></feComposite>
            <feColorMatrix values="0 0 0 0 1   0 0 0 0 1   0 0 0 0 1  0 0 0 0.2 0" type="matrix" in="shadowInnerInner1" result="shadowMatrixInner1"></feColorMatrix>
            <feOffset dx="40" dy="-19" in="SourceAlpha" result="shadowOffsetInner2"></feOffset>
            <feComposite in="shadowOffsetInner2" in2="SourceAlpha" operator="arithmetic" k2="-1" k3="1" result="shadowInnerInner2"></feComposite>
            <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.229053442 0" type="matrix" in="shadowInnerInner2" result="shadowMatrixInner2"></feColorMatrix>
            <feMerge>
                <feMergeNode in="shadowMatrixInner1"></feMergeNode>
                <feMergeNode in="shadowMatrixInner2"></feMergeNode>
            </feMerge>
        </filter>
        <path d="M40.8777274,253.200811 L117.992538,313.105085 C117.992538,313.105085 136.679109,259.982206 185.7269,276.715734 C185.7269,276.715734 221.047275,196.226185 221.047275,196.226185 C95.3278577,154.458058 40.8777274,253.200811 40.8777274,253.200811 Z" id="path-7"></path>
        <filter x="-8.3%" y="-11.8%" width="116.7%" height="123.6%" filterUnits="objectBoundingBox" id="filter-8">
            <feOffset dx="13" dy="-1" in="SourceAlpha" result="shadowOffsetInner1"></feOffset>
            <feComposite in="shadowOffsetInner1" in2="SourceAlpha" operator="arithmetic" k2="-1" k3="1" result="shadowInnerInner1"></feComposite>
            <feColorMatrix values="0 0 0 0 1   0 0 0 0 1   0 0 0 0 1  0 0 0 0.2 0" type="matrix" in="shadowInnerInner1" result="shadowMatrixInner1"></feColorMatrix>
            <feOffset dx="-30" dy="-9" in="SourceAlpha" result="shadowOffsetInner2"></feOffset>
            <feComposite in="shadowOffsetInner2" in2="SourceAlpha" operator="arithmetic" k2="-1" k3="1" result="shadowInnerInner2"></feComposite>
            <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.0972033514 0" type="matrix" in="shadowInnerInner2" result="shadowMatrixInner2"></feColorMatrix>
            <feMerge>
                <feMergeNode in="shadowMatrixInner1"></feMergeNode>
                <feMergeNode in="shadowMatrixInner2"></feMergeNode>
            </feMerge>
        </filter>
        <path d="M131.791153,185.908048 L186.050512,269.460133 C186.050512,269.460133 225.639624,243.785058 263.084921,291.92789 C263.084921,291.92789 335.011177,216.683234 335.011177,216.683234 C248.072127,125.654271 131.791153,185.908048 131.791153,185.908048 Z" id="path-9"></path>
        <filter x="-9.8%" y="-15.9%" width="119.7%" height="131.9%" filterUnits="objectBoundingBox" id="filter-10">
            <feOffset dx="-14" dy="1" in="SourceAlpha" result="shadowOffsetInner1"></feOffset>
            <feComposite in="shadowOffsetInner1" in2="SourceAlpha" operator="arithmetic" k2="-1" k3="1" result="shadowInnerInner1"></feComposite>
            <feColorMatrix values="0 0 0 0 1   0 0 0 0 1   0 0 0 0 1  0 0 0 0.2 0" type="matrix" in="shadowInnerInner1" result="shadowMatrixInner1"></feColorMatrix>
            <feOffset dx="40" dy="-11" in="SourceAlpha" result="shadowOffsetInner2"></feOffset>
            <feComposite in="shadowOffsetInner2" in2="SourceAlpha" operator="arithmetic" k2="-1" k3="1" result="shadowInnerInner2"></feComposite>
            <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.107110507 0" type="matrix" in="shadowInnerInner2" result="shadowMatrixInner2"></feColorMatrix>
            <feMerge>
                <feMergeNode in="shadowMatrixInner1"></feMergeNode>
                <feMergeNode in="shadowMatrixInner2"></feMergeNode>
            </feMerge>
        </filter>
    </defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="logo-3" class="js-logo-full hidden" transform="translate(-7.000000, -17.000000)">
            <g id="uMaster" class="js-logo-text" transform="translate(230.000000, 80.000000)" stroke="#2C1179" stroke-linecap="round">
                <path d="M2.84217094e-14,70 C2.84217094e-14,70 37,53 31,28 C25,3 5,80 42,76 C79,72 76,1.92956762e-13 66,28 C56,56 62,88 76,67 C90,46 83,2 104,1 C125,-1.16462395e-13 126,76 107,76 C88,76 106,6 134,9 C162,12 158,68 141,76 C124,84 147,4 171,12 C195,20 175,74 175,74" id="Path-4" stroke-width="4.5"></path>
                <path d="M212,48 C203,40 184,56 189,69 C194,82 212,57.6971659 212,55 C212,52.3028341 200,57.6971659 208,70 C216,82.3028341 240,55 238,49 C236,43 235,53.3943318 240,57.6971659 C245,62 258,64 249,71 C240,78 228,70 235,69 C242,68 259,67 269,52 C279,37 286,28 279,28 C272,28 264,57 262,70 C260,83 280,79 288,67 C296,55 295,39 286,47 C277,55 276,82 289,78 C302,74 306,37 310,50 C314,63 311,78 308,78 C305,78 313,52 318,49 C323,46 324,49 324,49" id="Path-11" stroke-width="4"></path>
                <path d="M255,42 L293,33" id="Path-12" stroke-width="4.5"></path>
            </g>
            <g id="Path-2" class="wheel-part wheel-part--1 js-wheel-part-1">
                <use fill="#573B87" fill-rule="evenodd" xlink:href="#path-1"></use>
                <use fill="black" fill-opacity="1" filter="url(#filter-2)" xlink:href="#path-1"></use>
            </g>
            <g id="Path-2" class="wheel-part wheel-part--2 js-wheel-part-2">
                <use fill="#352576" fill-rule="evenodd" xlink:href="#path-3"></use>
                <use fill="black" fill-opacity="1" filter="url(#filter-4)" xlink:href="#path-3"></use>
            </g>
            <g id="Path-2" class="wheel-part wheel-part--3 js-wheel-part-3">
                <use fill="#502E5E" class="part-2-color" fill-rule="evenodd" xlink:href="#path-5"></use>
                <use fill="black" fill-opacity="1" filter="url(#filter-6)" xlink:href="#path-5"></use>
            </g>
            <g id="Path-2" class="wheel-part wheel-part--4 js-wheel-part-4">
                <use fill="#E45A83" class="part-1-color" fill-rule="evenodd" xlink:href="#path-7"></use>
                <use fill="black" fill-opacity="1" filter="url(#filter-8)" xlink:href="#path-7"></use>
            </g>
            <g id="Path-2" class="wheel-part wheel-part--5 js-wheel-part-5">
                <use fill="#F40967" class="part-3-color" fill-rule="evenodd" xlink:href="#path-9"></use>
                <use fill="black" fill-opacity="1" filter="url(#filter-10)" xlink:href="#path-9"></use>
            </g>
        </g>
    </g>
</svg>
